---
const {tekst} = Astro.props
import FilterButton from "../components/FilterButton.astro"
---
<h2>Filtrer mellem byerne</h2>
<div class="underline"></div>
<div class="flex">
<FilterButton tekst="Alle"/>
<FilterButton tekst="Tikøb"/>
<FilterButton tekst="Helsingør"/>
<FilterButton tekst="Espergærde"/>
</div>

<h2>Filtrer mellem kategorierne</h2>
<div class="underline"></div><div class="flex">
<FilterButton tekst="Alt"/>
<FilterButton tekst="Musik"/>
<FilterButton tekst="Lyd"/>
<FilterButton tekst="Lys"/>
<FilterButton tekst="Børn"/>
<FilterButton tekst="Unge"/>
<FilterButton tekst="Oplæg"/>
<FilterButton tekst="Leg"/>
<FilterButton tekst="Foredrag"/>
</div>
<style>
    .flex{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .underline { height: 1px;
background-color: var(--accent);
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
}
</style>