<div></div>


<style>
    div{
        height: 30px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        /* background-color: var(--accent); */
        border: 1px solid var(--accent);
    }
</style>