---
import SoMe from "./SoMe.astro";
import "./src/pages/generel.css";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const menuHover = document.querySelector(
      ".burger_hover img",
    ) as HTMLImageElement;

    if (burger && nav && menu && menuHover) {
      burger.addEventListener("click", () => {
        burger.classList.toggle("active");
        nav.classList.toggle("active");
        menu.classList.toggle("open");
        menuHover.classList.toggle("active");

        if (menu.classList.contains("open")) {
          menuHover.src = "src/assets/active_burger.svg"; // Billedet når menuen er åben
        } else {
          menuHover.src = "src/assets/burger_closed_ikon.svg"; // Billedet når menuen er lukket
        }
      });

      menu.addEventListener("click", () => {
        burger.classList.remove("active");
        nav.classList.remove("active");
        menu.classList.remove("open");
        menuHover.classList.remove("active");
        menuHover.src = "src/assets/burger_closed_ikon.svg"; // Billedet når menuen er lukket
      });
    }
  });
</script>

<header>
  <div class="header-container">
    <a href="#">
      <img src="src/assets/Logo.svg" class="img_logo" />
    </a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="program.astro" class="li_top">Programmet</a></li>
      <li><a href="#">Favoritter</a></li>
      <li><a href="#">Galleri</a></li>
      <li><a href="#">Bliv arrangør</a></li>

      <div class="ekstra-menu_burger">
        <div class="linje"></div>
        <div class="grid_1-1">
          <h2>Er du fra Helsingborg?</h2>
          <a href="#"> &nbsp Køb billet her</a>
        </div>
        <div class="grid_1-1">
          <h2>Har du andre spørgsmål?</h2>
          <a href="#"> &nbsp Send en mail</a>
        </div>
        <div class="grid_1-1">
          <h2>Vil du gerne have opdateringer?</h2>
          <a href="#"> &nbsp Tilmeld dig her</a>
        </div>
        <div class="SoME">
          <div class="grid_1-1_2">
            <SoMe
              icon="src/assets/facebook.svg"
              url="https://www.facebook.com/kulturnathelsingor/?locale=da_DK"
            />
            <p>Facebook</p>
          </div>
          <div class="grid_1-1_2">
            <SoMe
              icon="src/assets/instagram.svg"
              url="https://www.instagram.com/"
            />
            <p>Instagram</p>
          </div>
          <div class="grid_1-1_2">
            <SoMe
              icon="src/assets/kultunaut.svg"
              url="https://www.kultunaut.dk/"
            />
            <p>Kultunaut.dk</p>
          </div>
        </div>
        <img
          src="src/assets/kommune_logo.webp"
          alt=""
          class="kommune-logo_burger"
        />
      </div>
    </ul>
  </nav>

  <div class="burger_ekstra_ikoner">
    <a href="#"
      ><img src="src/assets/program_ikon.svg" alt="" class="burger_icon" /></a
    >
    <a href="#"
      ><img src="src/assets/gemt_ikon.svg" alt="" class="burger_icon" /></a
    >
  </div>

  <div class="burger">
    <div class="burger_hover">
      <img src="src/assets/closed_burger.png" alt="" class="burger_icon" />
    </div>
  </div>
</header>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .img_logo {
    margin-left: 2rem;
  }

  .linje {
    height: 1px;
    background-color: var(--accent);
    width: 80%;
    margin: 10px;
    margin-left: 1.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100px;
    margin-right: 10px;
  }

  .menu_left {
    margin: 0;
  }

  .menu_left p {
    font-family: "neue_haas_grotesk_display45Lt";
    font-size: 22px;
    margin: 0;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  nav {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 1rem;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: var(--secundary-oat);
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-size: 18px;
    font-family: "neue_haas_grotesk_display45Lt";
  }

  .menu a:hover {
    scale: 1.02;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    align-self: right;
  }

  .burger {
    display: none;
  }

  .ekstra-menu_burger {
    display: none;
  }

  .burger_ekstra_ikoner {
    display: none;
    align-self: right;
    margin: 0 10px;
  }
  @media screen and (max-width: 970px) {
    .burger_icon {
      position: relative;
      z-index: 1001;
      align-items: center;
    }

    .burger_ekstra_ikoner {
      display: flex;
      flex-direction: row;
      margin-inline-start: auto;
      gap: 10px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    .grid_1-1_2 {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      margin-left: 2rem;
    }
    .li_top {
      margin-top: 5rem;
    }
    .SoME {
      margin-top: 2rem;
    }
    .menu {
      display: none;
      margin: 0rem;
    }

    .burger {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .burger img {
      width: 25px;
      height: 25px;
    }

    nav.active .menu {
      display: block;
      background-color: var(--primary_darkgrey);
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70%;
      z-index: 1;
    }

    nav.active .menu li {
      margin: 2px 2rem;
    }

    nav.active .menu a {
      font-size: 30px;
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--accent);
      text-decoration: underline;
      padding: 0;
      text-align: left;
    }

    nav.active .menu .ekstra-menu_burger a {
      font-size: 14px;
      font-family: "neue_haas_grotesk_display45Lt";
      color: var(--accent);
      text-decoration: none;
      padding: 0;
      text-align: left;
    }

    h2 {
      font-size: 15px;
      font-family: "neue_haas_grotesk_display65Md";
      color: var(--accent);
      text-decoration: none;
      padding: 0;
      text-align: left;
      padding-left: 1.1rem;
    }

    p {
      font-size: 15px;
      font-family: "neue_haas_grotesk_display45Lt";
      color: var(--accent);
      text-decoration: none;
      padding: 0;
      text-align: left;
      padding-left: 1.1rem;
    }

    nav.active .menu a:hover {
      text-decoration: none;
    }

    .img_logo {
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .burger_hover {
      display: block;
      align-items: center;
    }

    .kommune-logo_burger {
      display: block;
      width: 40%;
      margin-left: 0 auto;
      margin-top: 3rem;
      margin-left: 2rem;
    }

    .ekstra-menu_burger {
      display: flex;
      flex-direction: column;
    }
  }
</style>
