<div class="button">
  <div class="circle">
    <p>→</p>
  </div>
</div>

<style>
  p {
    color: var(--primary_darkgrey);
    margin: 0 auto;
    place-self: center;
  }
  .circle {
    background-color: var(--accent);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
  }
</style>
