---
import Email from "./Email.astro";
---

<div>
  <h1>Tilmeld dig vores nyhedsbrev!</h1>
  <Email client:load />
</div>

<style>
  h1 {
    color: var(--secundary-oat);
  }

  div {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 800px) {
    div {
      display: flex;
      flex-direction: column;
      width: 90%;
      place-self: center;
      margin-bottom: 50px;
    }
  }
</style>
