---
const { icon, url } = Astro.props;
---

<a href={url} target="_blank">
  <figure>
    <img src={icon} alt="Social Media" />
  </figure>
</a>

<style>
  figure {
    border-radius: 100px;
    background-color: var(--accent);
    aspect-ratio: 1/1;
    height: 50px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  figure:hover {
    scale: 1.1;
    transition: 0.3s;
  }
</style>
